*{
box-sizing:border-box;	
}

.ft{
position:relative;
top:0;
margin-top:20px!important;
}

.par{
text-align:justify;
font-size:20px;
}

.img-projeto{
	width:600px;
	height:349px;
	object-fit:cover;
}

.classio{
margin-top:5px;	
display:flex;
}

.icon{
	margin-top:50px;
	font-size:50px;
}

@media screen and (max-width: 850px) {
.td{
position:relative;
top:4px;
}

.par{
	display:flex;
	justify-content:center;
	align-items:center;
max-width:370px;
text-align:center;
}


}